<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Main</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- Custom styles for this template -->
    <style>
      body {
        padding-top: 54px;
      }
      @media (min-width: 992px) {
        body {
          padding-top: 56px;
        }
      }

    </style>

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">Sky Coin</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/users">User
                <span class="sr-only">(current)</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <br><br>

    <!-- Page Content -->
    <div class="container">
        <div class="row">

          <div class="col-xs-6 col-sm-4">
            <center>
            <img src="static/got.png" width="270px" height="350px">
            <hr>
              <button type="submit" name="cost" id="buy_coins_8" class="btn btn-light" value={{8}}>Buy - 8 NowCoins</button>
              <button type="submit" name="cost" class="btn btn-light" value={{10}}>Buy without Ads - 10 NowCoins</button>
            </center>
          </div>

          <div class="col-xs-6 col-sm-4">
            <center>
            <img src="static/friends.jpeg" width="270px" height="350px">
            <hr>
              <button type="submit" name="cost" class="btn btn-light" value={{4}}>Buy - 4 NowCoins</button>
              <button type="submit" name="cost" class="btn btn-light" value={{6}}>Buy without Ads - 6 NowCoins</button>
            </center>
          </div>


          <div class="col-xs-6 col-sm-4">
            <center>
            <img src="static/horror.jpg" width="270px" height="350px">
            <hr>
              <button type="submit" name="cost" class="btn btn-light" value={{4}}>Watch and get 4 NowCoins</button>
              <button type="submit" name="cost" class="btn btn-light" value={{8}}>Watch with Ads and get 8 NowCoins</button>
            </center>
          </div>


        </div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>
    $('#buy_coins_8').click(function(){
        $.ajax({
            url:'/api/newTransaction',
            type:"POST",
            data: JSON.stringify({ "name": "Alice", "cost": "8"}),
            contentType:"application/json; charset=utf-8",
            dataType:"json",
            success: function(){
            }
        });
    })
    </script>

  </body>

</html>
